<a href="https://colab.research.google.com/github/thilankam/Atlas_Of_Opportunity/blob/main/NYC_Restaurants_TopCat_SubCategory_with_Placekey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
# combining multiple csv file by row bind
import pandas as pd
import numpy as np
import glob
import os

In [ ]:
# Safegraph-Mobility/core_poi_after_nov2020/core_poi/2021/03/06/02

In [31]:
# Safegraph-Mobility/core_poi_after_nov2020/core_poi/2021/01/06/11
# contains 5 zip files
# reading core_poi data
DF_core_poi_part1 = pd.read_csv('/content/sample_data/core_poi-part1.csv')
DF_core_poi_part2 = pd.read_csv('/content/sample_data/core_poi-part2.csv')
DF_core_poi_part3 = pd.read_csv('/content/sample_data/core_poi-part3.csv')
DF_core_poi_part4 = pd.read_csv('/content/sample_data/core_poi-part4.csv')
DF_core_poi_part5 = pd.read_csv('/content/sample_data/core_poi-part5.csv')

Now we Fiter the 'city' column: city = 'New York City' in the each dataframe 

and reassign to the DF_core_poi_part1_NYC. (Now the each dataframe has only the New York City placekeys)

In [52]:
DF_core_poi_part1_NYC = DF_core_poi_part1.loc[DF_core_poi_part1['city'] == 'New York']
DF_core_poi_part2_NYC = DF_core_poi_part2.loc[DF_core_poi_part2['city'] == 'New York']
DF_core_poi_part3_NYC = DF_core_poi_part3.loc[DF_core_poi_part3['city'] == 'New York']
DF_core_poi_part4_NYC = DF_core_poi_part4.loc[DF_core_poi_part4['city'] == 'New York']
DF_core_poi_part5_NYC = DF_core_poi_part5.loc[DF_core_poi_part5['city'] == 'New York']

In [34]:
DF_core_poi_part1_NYC.head()

,placekey,safegraph_place_id,parent_placekey,parent_safegraph_place_id,location_name,safegraph_brand_ids,brands,top_category,sub_category,naics_code,...,region,postal_code,iso_country_code,phone_number,open_hours,category_tags,opened_on,closed_on,tracking_opened_since,tracking_closed_since
157,zzy-222@627-wc7-z4v,sg:0bb9f91e6071444cb3c3673f6c162775,NaN,NaN,Special Special,NaN,NaN,Shoe Stores,Shoe Stores,448210.0,...,NY,10003,US,NaN,NaN,NaN,NaN,NaN,NaN,2019-07
313,237-222@627-s4r-rp9,sg:15c5cc00cea547a5a00d70c5d681545b,NaN,NaN,Heyday UWS,NaN,NaN,Personal Care Services,Other Personal Care Services,812199.0,...,NY,10023,US,1.212797e+10,NaN,NaN,NaN,NaN,NaN,2019-07
319,zzw-222@627-s8j-p35,sg:16073977a4ee4c7da6872ad84da7e550,NaN,NaN,James Kroll Citizens Bank,NaN,NaN,Activities Related to Credit Intermediation,Mortgage and Nonmortgage Loan Brokers,522310.0,...,NY,10017,US,1.917568e+10,"{ ""Mon"": [[""9:00"", ""18:00""]], ""Tue"": [[""9:00"",...",NaN,NaN,NaN,NaN,2019-07
378,zzy-222@627-wc2-33q,sg:19360c46d4ab4563b18c37a66a24c739,NaN,NaN,General Information,NaN,NaN,"General Merchandise Stores, including Warehous...",All Other General Merchandise Stores,452319.0,...,NY,10005,US,NaN,NaN,NaN,NaN,NaN,NaN,2019-07
417,223-222@627-wbn-dd9,sg:1b70458768c14c8290a731860590bc0f,NaN,NaN,Gift of Gab,NaN,NaN,Offices of Other Health Practitioners,"Offices of Physical, Occupational and Speech T...",621340.0,...,NY,10011,US,NaN,"{ ""Mon"": [[""7:00"", ""21:00""]], ""Tue"": [[""7:00"",...",NaN,NaN,NaN,NaN,2019-07

In [53]:
DF_core_poi_part1_restaurants = DF_core_poi_part1_NYC.loc[DF_core_poi_part1_NYC['top_category'] == 'Restaurants and Other Eating Places']
DF_core_poi_part2_restaurants = DF_core_poi_part2_NYC.loc[DF_core_poi_part2_NYC['top_category'] == 'Restaurants and Other Eating Places']
DF_core_poi_part3_restaurants = DF_core_poi_part3_NYC.loc[DF_core_poi_part3_NYC['top_category'] == 'Restaurants and Other Eating Places']
DF_core_poi_part4_restaurants = DF_core_poi_part4_NYC.loc[DF_core_poi_part4_NYC['top_category'] == 'Restaurants and Other Eating Places']
DF_core_poi_part5_restaurants = DF_core_poi_part5_NYC.loc[DF_core_poi_part5_NYC['top_category'] == 'Restaurants and Other Eating Places']

In [56]:
DF_core_poi_part1_restaurants.head()
#DF_core_poi_part5_restaurants.shape

,placekey,safegraph_place_id,parent_placekey,parent_safegraph_place_id,location_name,safegraph_brand_ids,brands,top_category,sub_category,naics_code,...,region,postal_code,iso_country_code,phone_number,open_hours,category_tags,opened_on,closed_on,tracking_opened_since,tracking_closed_since
823,22p-222@627-wc7-yd9,sg:379c7336ca0347bfa4bd108522168f48,NaN,NaN,S Wan Cafe,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,722511.0,...,NY,10002,US,1.212967e+10,"{ ""Mon"": [[""7:30"", ""18:30""]], ""Tue"": [[""7:30"",...",Chinese Food,NaN,NaN,NaN,2019-07
996,23g-222@627-wc8-7h5,sg:43ccb6552cdf439f89a962234869f5d7,NaN,NaN,Starbucks,SG_BRAND_f116acfe9147494063e58da666d1d57e,Starbucks,Restaurants and Other Eating Places,Snack and Nonalcoholic Beverage Bars,722515.0,...,NY,10014,US,1.646486e+10,"{ ""Mon"": [[""5:30"", ""20:00""]], ""Tue"": [[""5:30"",...","Snacks,Counter Service,Dessert,Tea House,Coffe...",NaN,NaN,2019-12,2019-07
1364,224-222@627-s4t-xh5,sg:5cf324fe9fd449bfbc26986e5bb26264,NaN,NaN,Las Delicias Mexicanas,NaN,NaN,Restaurants and Other Eating Places,Full-Service Restaurants,722511.0,...,NY,10029,US,1.212828e+10,"{ ""Mon"": [[""8:00"", ""22:00""]], ""Tue"": [[""8:00"",...",Mexican Food,NaN,NaN,NaN,2019-07
1494,22g-222@627-s8j-9xq,sg:67684b9544024761a8292359cccb58cc,NaN,NaN,AA Ichiban Sushi,NaN,NaN,Restaurants and Other Eating Places,Limited-Service Restaurants,722513.0,...,NY,10011,US,1.212676e+10,NaN,"Japanese Food,Sushi",NaN,NaN,NaN,2019-07
2395,22p-222@627-wbz-qxq,sg:a4a4d691ef3b4fd5b47fbcda9d3b79fe,NaN,NaN,Burger King,SG_BRAND_60d8d6d29e2c4b14f4ea1983baefd36e,Burger King,Restaurants and Other Eating Places,Limited-Service Restaurants,722513.0,...,NY,10038,US,1.212567e+10,"{ ""Mon"": [[""6:00"", ""22:00""]], ""Tue"": [[""6:00"",...","Counter Service,Late Night,Lunch,Fast Food,Dri...",NaN,NaN,NaN,2019-07

In [57]:
DF_core_poi_part1_NYCtopCatSubCat_restaurants = DF_core_poi_part1_restaurants[['placekey','top_category', 'sub_category','city','region','street_address']]
DF_core_poi_part2_NYCtopCatSubCat_restaurants = DF_core_poi_part2_restaurants[['placekey','top_category', 'sub_category','city','region','street_address']]
DF_core_poi_part3_NYCtopCatSubCat_restaurants = DF_core_poi_part3_restaurants[['placekey','top_category', 'sub_category','city','region','street_address']]
DF_core_poi_part4_NYCtopCatSubCat_restaurants = DF_core_poi_part4_restaurants[['placekey','top_category', 'sub_category','city','region','street_address']]
DF_core_poi_part5_NYCtopCatSubCat_restaurants = DF_core_poi_part5_restaurants[['placekey','top_category', 'sub_category','city','region','street_address']]

In [64]:
DF_core_poi_part5_NYCtopCatSubCat_restaurants.head()
#DF_core_poi_part1_NYCtopCatSubCat_restaurants.shape

,placekey,top_category,sub_category,city,region,street_address
1090,228-222@627-s8r-7yv,Restaurants and Other Eating Places,Limited-Service Restaurants,New York,NY,220 W 49th St
1652,225-223@627-wc6-yd9,Restaurants and Other Eating Places,Full-Service Restaurants,New York,NY,519 Broome St
1984,zzw-229@627-wc7-5j9,Restaurants and Other Eating Places,Full-Service Restaurants,New York,NY,28 Mott St Frnt A
2177,22w-222@627-s8k-s5z,Restaurants and Other Eating Places,Full-Service Restaurants,New York,NY,293 E 10th St
2474,zzw-222@627-s8k-xqz,Restaurants and Other Eating Places,Full-Service Restaurants,New York,NY,500 Grand St

In [69]:
NYC_RestaurentsTopCat_SubCat = pd.concat([DF_core_poi_part1_NYCtopCatSubCat_restaurants,DF_core_poi_part2_NYCtopCatSubCat_restaurants,DF_core_poi_part3_NYCtopCatSubCat_restaurants,DF_core_poi_part4_NYCtopCatSubCat_restaurants,DF_core_poi_part5_NYCtopCatSubCat_restaurants])

In [71]:
NYC_RestaurentsTopCat_SubCat.head(30)
NYC_RestaurentsTopCat_SubCat.shape

(9392, 6)